#uploader
  border: 2px dashed #ddd
  border-radius: 10px
  margin-top: 1rem
  display: flex
  justify-content: center
  align-items: center
  height: 300px
  position: relative
  &.drag
    background: #eee

  p 
    color: #444
    font-size: 22px

    .dummy-link
      color: #448
      cursor: pointer
      text-decoration: underline

